@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url("../public/IMG_0143.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: 0% 100%;
  background-attachment: fixed;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}
html {
  font-size: 100%;
}

@font-face {
  font-family: "Impact"; /*Can be any text*/
  src: local("Impact"), url(../app/fonts/impact.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins"; /*Can be any text*/
  src: local("Poppins"),
    url(../app/fonts/Poppins-ExtraBold.ttf) format("truetype");
}

@layer base {
  html {
    font-family: Poppins, sans-serif;
  }
}

::-webkit-scrollbar {
  display: none;
}
